.me {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;

  margin: 5px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.not-me {
  display: flex;
  flex-flow: row-reverse;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;

  margin: 5px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
