.threads-defaults {
  min-width: 600px;
}
.threads-header {
  width: 100%;
  background-color: #2e6da4;
  color: white;
  font-weight: bold;
  /*font-size: large;*/

  padding: 5px;
  border-radius: 4px 4px 0 0;
}
